/*
 * The MIT License (MIT)
 *
 * Copyright (c) <2013-2014> <Colin Duquesnoy>
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:

 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.

 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */

QToolTip
{
    border: 1px solid #76797C;
    background-color: rgb(90, 102, 117);;
    color: white;
    padding: 5px;
    opacity: 200;
}

QWidget
{
    color: #dbcdce;
    background-color: #232323;
    selection-background-color:#2c7ea9;
    selection-color: #dbcdce;
    background-clip: border;
    border-image: none;
    border: 0px transparent black;
    outline: 0;
}

QWidget:item:hover
{
    background-color: #2c7ea9;
    color: #dbcdce;
}

QWidget:item:selected
{
    background-color: #2c7ea9;
}

QCheckBox
{
    spacing: 5px;
    outline: none;
    color: #dbcdce;
    margin-bottom: 2px;
}

QCheckBox:disabled
{
    color: #76797C;
}

QCheckBox::indicator,
QGroupBox::indicator
{
    width: 18px;
    height: 18px;
}
QGroupBox::indicator
{
    margin-left: 2px;
}

QTreeView::indicator:unchecked,
QCheckBox::indicator:unchecked
{
    image: url(:/stylesheet/resources/darkstyle/checkbox_unchecked.png);
}

QTreeView::indicator:unchecked:hover,
QTreeView::indicator:unchecked:focus,
QTreeView::indicator:unchecked:pressed,
QTreeWidget::indicator:unchecked:hover,
QTreeWidget::indicator:unchecked:focus,
QTreeWidget::indicator:unchecked:pressed,
QCheckBox::indicator:unchecked:hover,
QCheckBox::indicator:unchecked:focus,
QCheckBox::indicator:unchecked:pressed,
QGroupBox::indicator:unchecked:hover,
QGroupBox::indicator:unchecked:focus,
QGroupBox::indicator:unchecked:pressed
{
  border: none;
    image: url(:/stylesheet/resources/darkstyle/checkbox_unchecked_focus.png);
}

QTreeView::indicator:checked,
QTreeWidget::indicator:checked,
QCheckBox::indicator:checked
{
    image: url(:/stylesheet/resources/darkstyle/checkbox_checked.png);
}

QTreeView::indicator:checked:hover,
QTreeView::indicator:checked:focus,
QTreeView::indicator:checked:pressed,
QTreeWidget::indicator:checked:hover,
QTreeWidget::indicator:checked:focus,
QTreeWidget::indicator:checked:pressed,
QCheckBox::indicator:checked:hover,
QCheckBox::indicator:checked:focus,
QCheckBox::indicator:checked:pressed,
QGroupBox::indicator:checked:hover,
QGroupBox::indicator:checked:focus,
QGroupBox::indicator:checked:pressed
{
  border: none;
    image: url(:/stylesheet/resources/darkstyle/checkbox_checked_focus.png);
}


QTreeView::indicator:indeterminate,
QTreeWidget::indicator:indeterminate,
QCheckBox::indicator:indeterminate
{
    image: url(:/stylesheet/resources/darkstyle/checkbox_indeterminate.png);
}

QTreeView::indicator:indeterminate:focus,
QTreeView::indicator:indeterminate:hover,
QTreeView::indicator:indeterminate:pressed
QTreeWidget::indicator:indeterminate:focus,
QTreeWidget::indicator:indeterminate:hover,
QTreeWidget::indicator:indeterminate:pressed,
QCheckBox::indicator:indeterminate:focus,
QCheckBox::indicator:indeterminate:hover,
QCheckBox::indicator:indeterminate:pressed
{
    image: url(:/stylesheet/resources/darkstyle/checkbox_indeterminate_focus.png);
}

QTreeView::indicator:checked:disabled,
QTreeWidget::indicator:checked:disabled,
QCheckBox::indicator:checked:disabled,
QGroupBox::indicator:checked:disabled
{
    image: url(:/stylesheet/resources/darkstyle/checkbox_checked_disabled.png);
}

QTreeView::indicator:unchecked:disabled,
QTreeWidget::indicator:unchecked:disabled,
QCheckBox::indicator:unchecked:disabled,
QGroupBox::indicator:unchecked:disabled
{
    image: url(:/stylesheet/resources/darkstyle/checkbox_unchecked_disabled.png);
}

QRadioButton
{
    spacing: 5px;
    outline: none;
    color: #dbcdce;
    margin-bottom: 2px;
}

QRadioButton:disabled
{
    color: #76797C;
}
QRadioButton::indicator
{
    width: 21px;
    height: 21px;
}

QRadioButton::indicator:unchecked
{
    image: url(:/stylesheet/resources/darkstyle/radio_unchecked.png);
}


QRadioButton::indicator:unchecked:hover,
QRadioButton::indicator:unchecked:focus,
QRadioButton::indicator:unchecked:pressed
{
    border: none;
    outline: none;
    image: url(:/stylesheet/resources/darkstyle/radio_unchecked_focus.png);
}

QRadioButton::indicator:checked
{
    border: none;
    outline: none;
    image: url(:/stylesheet/resources/darkstyle/radio_checked.png);
}

QRadioButton::indicator:checked:hover,
QRadioButton::indicator:checked:focus,
QRadioButton::indicator:checked:pressed
{
    border: none;
    outline: none;
    image: url(:/stylesheet/resources/darkstyle/radio_checked_focus.png);
}

QRadioButton::indicator:checked:disabled
{
    outline: none;
    image: url(:/stylesheet/resources/darkstyle/radio_checked_disabled.png);
}

QRadioButton::indicator:unchecked:disabled
{
    image: url(:/stylesheet/resources/darkstyle/radio_unchecked_disabled.png);
}


QMenuBar
{
    background-color: #333333;
    color: #dbcdce;
}

QMenuBar::item
{
    background: transparent;
}

QMenuBar::item:selected
{
    background: transparent;
    border: 1px solid #76797C;
}

QMenuBar::item:pressed
{
    border: 1px solid #76797C;
    background-color: #2c7ea9;
    color: #dbcdce;
    margin-bottom:-1px;
    padding-bottom:1px;
}

QMenu
{
    border: 1px solid #76797C;
    color: #dbcdce;
    margin: 2px;
}

QMenu::icon
{
    margin: 5px;
}

QMenu::item
{
    padding: 5px 30px 5px 30px;
    margin-left: 5px;
    border: 1px solid transparent; /* reserve space for selection border */
}

QMenu::item:selected
{
    color: #dbcdce;
}

QMenu::separator {
    height: 2px;
    background: lightblue;
    margin-left: 10px;
    margin-right: 5px;
}

QMenu::indicator {
    width: 18px;
    height: 18px;
}

/* non-exclusive indicator = check box style indicator
   (see QActionGroup::setExclusive) */
QMenu::indicator:non-exclusive:unchecked {
    image: url(:/stylesheet/resources/darkstyle/checkbox_unchecked.png);
}

QMenu::indicator:non-exclusive:unchecked:selected {
    image: url(:/stylesheet/resources/darkstyle/checkbox_unchecked_disabled.png);
}

QMenu::indicator:non-exclusive:checked {
    image: url(:/stylesheet/resources/darkstyle/checkbox_checked.png);
}

QMenu::indicator:non-exclusive:checked:selected {
    image: url(:/stylesheet/resources/darkstyle/checkbox_checked_disabled.png);
}

/* exclusive indicator = radio button style indicator (see QActionGroup::setExclusive) */
QMenu::indicator:exclusive:unchecked {
    image: url(:/stylesheet/resources/darkstyle/radio_unchecked.png);
}

QMenu::indicator:exclusive:unchecked:selected {
    image: url(:/stylesheet/resources/darkstyle/radio_unchecked_disabled.png);
}

QMenu::indicator:exclusive:checked {
    image: url(:/stylesheet/resources/darkstyle/radio_checked.png);
}

QMenu::indicator:exclusive:checked:selected {
    image: url(:/stylesheet/resources/darkstyle/radio_checked_disabled.png);
}

QMenu::right-arrow {
    margin: 5px;
    image: url(:/stylesheet/resources/darkstyle/right_arrow.png)
}


QWidget:disabled
{
    color: #454545;
}

QGroupBox:disabled
{
    color: #dbcdce;
}

QAbstractItemView
{
    alternate-background-color: #373737;
    color: #dbcdce;
    border: 1px solid 3A3939;
    border-radius: 2px;
}

QWidget:focus, QMenuBar:focus
{
    border: 1px solid #2c7ea9;
}

QTabWidget:focus, QCheckBox:focus, QRadioButton:focus, QSlider:focus
{
    border: none;
}

QLineEdit
{
    background-color: #333333;
    padding: 5px;
    border-style: solid;
    border: 1px solid #76797C;
    border-radius: 2px;
    color: white;
}

QLineEdit:disabled
{
    background-color: #333333;
    padding: 5px;
    border-style: solid;
    border: 1px solid #76797C;
    border-radius: 2px;
    color: #dbcdce;
}

QGroupBox {
    border:1px solid #76797C;
    border-radius: 2px;
    margin-top: 20px;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

QAbstractScrollArea
{
    border-radius: 2px;
    border: 1px solid #76797C;
    background-color: transparent;
}

QScrollBar:horizontal
{
    height: 15px;
    margin: 3px 15px 3px 15px;
    border: 1px transparent #2A2929;
    border-radius: 4px;
    background-color: #2A2929;
}

QScrollBar::handle:horizontal
{
    background-color: #605F5F;
    min-width: 20px;
    border-radius: 4px;
}

QScrollBar::add-line:horizontal
{
    margin: 0px 3px 0px 3px;
    border-image: url(:/stylesheet/resources/darkstyle/right_arrow_disabled.png);
    width: 10px;
    height: 10px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal
{
    margin: 0px 3px 0px 3px;
    border-image: url(:/stylesheet/resources/darkstyle/left_arrow_disabled.png);
    height: 10px;
    width: 10px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal:hover,QScrollBar::add-line:horizontal:on
{
    border-image: url(:/stylesheet/resources/darkstyle/right_arrow.png);
    height: 10px;
    width: 10px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}


QScrollBar::sub-line:horizontal:hover, QScrollBar::sub-line:horizontal:on
{
    border-image: url(:/stylesheet/resources/darkstyle/left_arrow.png);
    height: 10px;
    width: 10px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:horizontal, QScrollBar::down-arrow:horizontal
{
    background: none;
}


QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal
{
    background: none;
}

QScrollBar:vertical
{
    background-color: #2A2929;
    width: 15px;
    margin: 15px 3px 15px 3px;
    border: 1px transparent #2A2929;
    border-radius: 4px;
}

QScrollBar::handle:vertical
{
    background-color: #605F5F;
    min-height: 20px;
    border-radius: 4px;
}

QScrollBar::sub-line:vertical
{
    margin: 3px 0px 3px 0px;
    border-image: url(:/stylesheet/resources/darkstyle/up_arrow_disabled.png);
    height: 10px;
    width: 10px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::add-line:vertical
{
    margin: 3px 0px 3px 0px;
    border-image: url(:/stylesheet/resources/darkstyle/down_arrow_disabled.png);
    height: 10px;
    width: 10px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical:hover,QScrollBar::sub-line:vertical:on
{

    border-image: url(:/stylesheet/resources/darkstyle/up_arrow.png);
    height: 10px;
    width: 10px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}


QScrollBar::add-line:vertical:hover, QScrollBar::add-line:vertical:on
{
    border-image: url(:/stylesheet/resources/darkstyle/down_arrow.png);
    height: 10px;
    width: 10px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical
{
    background: none;
}


QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical
{
    background: none;
}

QTextEdit
{
    background-color: #333333;
    color: #dbcdce;
    border: 1px solid #76797C;
}

QPlainTextEdit
{
    background-color: #101010;
    color: #dbcdce;
    border-radius: 2px;
    border: 1px solid #76797C;
}

QHeaderView::section
{
    background-color: #76797C;
    color: #dbcdce;
    padding: 5px;
    border: 1px solid #76797C;
}

QSizeGrip {
    image: url(:/stylesheet/resources/darkstyle/sizegrip.png);
    width: 12px;
    height: 12px;
}


QMainWindow::separator
{
    background-color: #333333;
    color: white;
    padding-left: 4px;
    spacing: 2px;
    border: 1px dashed #76797C;
}

QMainWindow::separator:hover
{

    background-color: #787876;
    color: white;
    padding-left: 4px;
    border: 1px solid #76797C;
    spacing: 2px;
}


QMenu::separator
{
    height: 1px;
    background-color: #76797C;
    color: white;
    padding-left: 4px;
    margin-left: 10px;
    margin-right: 5px;
}


QFrame
{
    border-radius: 2px;
    border: 1px solid #76797C;
}

QFrame[frameShape="0"]
{
    border-radius: 2px;
    border: 1px transparent #76797C;
}

QStackedWidget
{
    border: 1px transparent black;
}

QToolBar {
    border: 1px solid #393838;
    background: 1px solid #333333;
    font-weight: bold;
}

QToolBar::handle:horizontal {
    image: url(:/stylesheet/resources/darkstyle/Hmovetoolbar.png);
}
QToolBar::handle:vertical {
    image: url(:/stylesheet/resources/darkstyle/Vmovetoolbar.png);
}
QToolBar::separator:horizontal {
    image: url(:/stylesheet/resources/darkstyle/Hsepartoolbar.png);
}
QToolBar::separator:vertical {
    image: url(:/stylesheet/resources/darkstyle/Vsepartoolbar.png);
}
QToolButton#qt_toolbar_ext_button {
    background: #58595a
}

/* Fixes the background color of the toolbar */
QToolBar > QWidget {
    background: 1px solid #333333;
}

QPushButton
{
    color: white;
    background-color: #333333;
    border-width: 1px;
    border-color: #76797C;
    border-style: solid;
    padding: 5px;
    border-radius: 2px;
    outline: none;
}

QPushButton:disabled
{
    background-color: #333333;
    border-width: 1px;
    border-color: #454545;
    border-style: solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    color: #777777;
}

QPushButton:focus {
    background-color: #333333;
    color: white;
}

QPushButton:pressed
{
    background-color: #2c7ea9;
    padding-top: -15px;
    padding-bottom: -17px;
}

QComboBox
{
    selection-background-color: #2c7ea9;
    border-style: solid;
    border: 1px solid #76797C;
    border-radius: 2px;
    padding: 5px;
    min-width: 75px;
}

QPushButton:checked{
    background-color: #76797C;
    border-color: #6A6969;
}

QComboBox:hover,QPushButton:hover,QAbstractSpinBox:hover,QLineEdit:hover,QTextEdit:hover,QPlainTextEdit:hover,QAbstractView:hover,QTreeView:hover
{
    border: 1px solid #2c7ea9;
    color: #dbcdce;
}

QComboBox:on
{
    padding-top: 3px;
    padding-left: 4px;
    selection-background-color: #4a4a4a;
}

QComboBox QAbstractItemView
{
    background-color: #333333;
    border-radius: 2px;
    border: 1px solid #76797C;
    selection-background-color: #2c7ea9;
}

QComboBox::drop-down
{
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;

    border-left-width: 0px;
    border-left-color: darkgray;
    border-left-style: solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

QComboBox::down-arrow
{
    image: url(:/stylesheet/resources/darkstyle/down_arrow_d.png);
}

QComboBox::down-arrow:on, QComboBox::down-arrow:hover,
QComboBox::down-arrow:focus
{
    image: url(:/stylesheet/resources/darkstyle/down_arrow.png);
}

QAbstractSpinBox {
    padding: 5px;
    border: 1px solid #76797C;
    background-color: #333333;
    color: white;
    border-radius: 2px;
    min-width: 45px;
}

QAbstractSpinBox:disabled {
    color: #999999;
}

QAbstractSpinBox:up-button
{
    background-color: transparent;
}

QAbstractSpinBox:down-button
{
    background-color: transparent;

}

QAbstractSpinBox::up-arrow,QAbstractSpinBox::up-arrow:d,QAbstractSpinBox::up-arrow:off {
    image: url(:/stylesheet/resources/darkstyle/up_arrow_d.png);
    width: 10px;
    height: 10px;
}
QAbstractSpinBox::up-arrow:hover
{
    image: url(:/stylesheet/resources/darkstyle/up_arrow.png);
}


QAbstractSpinBox::down-arrow,QAbstractSpinBox::down-arrow:d,QAbstractSpinBox::down-arrow:off
{
    image: url(:/stylesheet/resources/darkstyle/down_arrow_d.png);
    width: 10px;
    height: 10px;
}
QAbstractSpinBox::down-arrow:hover
{
    image: url(:/stylesheet/resources/darkstyle/down_arrow.png);
}


QLabel
{
    border: 0px solid black;
}

QLabel:disabled
{
    color: #454545;
    background-color: #232323;
}

QTabWidget{
    border: 0px transparent black;
}

QTabWidget::pane {
    border: 1px solid #76797C;
    padding: 5px;
    margin: 0px;
}

QTabWidget::tab-bar {
    left: 5px; /* move to the right by 5px */
}

QTabBar
{
    qproperty-drawBase: 0;
    border-radius: 3px;
}

QTabBar:focus
{
    border: 0px transparent black;
}

QTabBar::close-button  {
    image: url(:/stylesheet/resources/darkstyle/close.png);
    background: transparent;
}

QTabBar::close-button:hover
{
    image: url(:/stylesheet/resources/darkstyle/close-hover.png);
    background: transparent;
}

QTabBar::close-button:pressed {
    image: url(:/stylesheet/resources/darkstyle/close-pressed.png);
    background: transparent;
}

/* TOP TABS */
QTabBar::tab:top {
    color: #dbcdce;
    border: 1px solid #76797C;
    border-bottom: 1px transparent black;
    background-color: #333333;
    padding: 5px;
    min-width: 50px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

QTabBar::tab:top:!selected
{
    color: #dbcdce;
    background-color: #54575B;
    border: 1px solid #76797C;
    border-bottom: 1px transparent black;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin-top: 3px; /* make non-selected tabs look smaller */
}

QTabBar::tab:top:selected
{
    color: #f0f0f0;
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:1 #2c7ea9, stop:0.85 #333333, stop:0.4 #333333, stop:0.2 #333333, stop:0.1 #333333);
    /* Overflow onto other tabs slightly to give the appearance of being in the foreground */
    margin-left: -5px;
    margin-right: -5px;
}

QTabBar::tab:top:!selected:hover {
    background-color: #2c7ea9;
}

/* BOTTOM TABS */
QTabBar::tab:bottom {
    color: #dbcdce;
    border: 1px solid #76797C;
    border-top: 1px transparent black;
    background-color: #333333;
    padding: 5px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    min-width: 50px;
}

QTabBar::tab:bottom:!selected
{
    color: #dbcdce;
    background-color: #54575B;
    border: 1px solid #76797C;
    border-top: 1px transparent black;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

QTabBar::tab:bottom:!selected:hover {
    background-color: #2c7ea9;
}

/* LEFT TABS */
QTabBar::tab:left {
    color: #dbcdce;
    border: 1px solid #76797C;
    border-left: 1px transparent black;
    background-color: #333333;
    padding: 5px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    min-height: 50px;
}

QTabBar::tab:left:!selected
{
    color: #dbcdce;
    background-color: #54575B;
    border: 1px solid #76797C;
    border-left: 1px transparent black;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

QTabBar::tab:left:!selected:hover {
    background-color: #2c7ea9;
}


/* RIGHT TABS */
QTabBar::tab:right {
    color: #dbcdce;
    border: 1px solid #76797C;
    border-right: 1px transparent black;
    background-color: #333333;
    padding: 5px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    min-height: 50px;
}

QTabBar::tab:right:!selected
{
    color: #dbcdce;
    background-color: #54575B;
    border: 1px solid #76797C;
    border-right: 1px transparent black;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

QTabBar::tab:right:!selected:hover {
    background-color: #2c7ea9;
}

QTabBar QToolButton::right-arrow:enabled {
     image: url(:/stylesheet/resources/darkstyle/right_arrow.png);
 }

 QTabBar QToolButton::left-arrow:enabled {
     image: url(:/stylesheet/resources/darkstyle/left_arrow.png);
 }

QTabBar QToolButton::right-arrow:d {
     image: url(:/stylesheet/resources/darkstyle/right_arrow_d.png);
 }

 QTabBar QToolButton::left-arrow:d {
     image: url(:/stylesheet/resources/darkstyle/left_arrow_d.png);
 }

 QTabBar::tab:first:selected {
     margin-left: 0; /* the first selected tab has nothing to overlap with on the left */
 }

 QTabBar::tab:last:selected {
     margin-right: 0; /* the last selected tab has nothing to overlap with on the right */
 }


QDockWidget {
    background: #333333;
    border: 1px solid #403F3F;
    titlebar-close-icon: url(:/stylesheet/resources/darkstyle/close.png);
    titlebar-normal-icon: url(:/stylesheet/resources/darkstyle/undock.png);
}

QDockWidget::close-button, QDockWidget::float-button {
    border: 1px solid transparent;
    border-radius: 2px;
    background: transparent;
}

QDockWidget::close-button:hover, QDockWidget::float-button:hover {
    background: rgba(255, 255, 255, 10);
}

QDockWidget::close-button:pressed, QDockWidget::float-button:pressed {
    padding: 1px -1px -1px 1px;
    background: rgba(255, 255, 255, 10);
}

QTreeView, QListView
{
    border: 1px solid #76797C;
    background-color: #333333;
}

QTreeView:branch:selected, QTreeView:branch:hover
{
    background: url(:/stylesheet/resources/darkstyle/transparent.png);
}

QTreeView::branch:has-siblings:!adjoins-item {
    border-image: url(:/stylesheet/resources/darkstyle/transparent.png);
}

QTreeView::branch:has-siblings:adjoins-item {
    border-image: url(:/stylesheet/resources/darkstyle/transparent.png);
}

QTreeView::branch:!has-children:!has-siblings:adjoins-item {
    border-image: url(:/stylesheet/resources/darkstyle/transparent.png);
}

QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
    image: url(:/stylesheet/resources/darkstyle/branch_closed.png);
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings  {
    image: url(:/stylesheet/resources/darkstyle/branch_open.png);
}

QTreeView::branch:has-children:!has-siblings:closed:hover,
QTreeView::branch:closed:has-children:has-siblings:hover {
    image: url(:/stylesheet/resources/darkstyle/branch_closed-on.png);
    }

QTreeView::branch:open:has-children:!has-siblings:hover,
QTreeView::branch:open:has-children:has-siblings:hover  {
    image: url(:/stylesheet/resources/darkstyle/branch_open-on.png);
    }

QListView::item:!selected:hover, QTreeView::item:!selected:hover  {
    background: rgba(167,218,245, 0.3);
    outline: 0;
    color: #dbcdce
}

QListView::item:selected:hover, QTreeView::item:selected:hover  {
    background: #2c7ea9;
    color: #dbcdce;
}

QSlider::groove:horizontal {
    border: 1px solid #565a5e;
    height: 4px;
    background: #565a5e;
    margin: 0px;
    border-radius: 2px;
}

QSlider::handle:horizontal {
    background: #333333;
    border: 1px solid #565a5e;
    width: 16px;
    height: 16px;
    margin: -8px 0;
    border-radius: 9px;
}

QSlider::groove:vertical {
    border: 1px solid #565a5e;
    width: 4px;
    background: #565a5e;
    margin: 0px;
    border-radius: 3px;
}

QSlider::handle:vertical {
    background: #333333;
    border: 1px solid #565a5e;
    width: 16px;
    height: 16px;
    margin: 0 -8px;
    border-radius: 9px;
}

QToolButton {
    background-color: transparent;
    border: 1px transparent #76797C;
    border-radius: 2px;
    margin: 3px;
    padding: 5px;
}

QToolButton[popupMode="1"] { /* only for MenuButtonPopup */
 padding-right: 20px; /* make way for the popup button */
 border: 1px #76797C;
 border-radius: 5px;
}

QToolButton[popupMode="2"] { /* only for InstantPopup */
 padding-right: 10px; /* make way for the popup button */
 border: 1px #76797C;
}


QToolButton:hover, QToolButton::menu-button:hover {
    background-color: transparent;
    border: 1px solid #2c7ea9;
    padding: 5px;
}

QToolButton:checked, QToolButton:pressed,
        QToolButton::menu-button:pressed {
    background-color: #2c7ea9;
    border: 1px solid #2c7ea9;
    padding: 5px;
}

/* the subcontrol below is used only in the InstantPopup or DelayedPopup mode */
QToolButton::menu-indicator {
    image: url(:/stylesheet/resources/darkstyle/down_arrow.png);
    top: -7px; left: -2px; /* shift it a bit */
}

/* the subcontrols below are used only in the MenuButtonPopup mode */
QToolButton::menu-button {
    border: 1px transparent #76797C;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    /* 16px width + 4px for border = 20px allocated above */
    width: 16px;
    outline: none;
}

QToolButton::menu-arrow {
    image: url(:/stylesheet/resources/darkstyle/down_arrow.png);
}

QToolButton::menu-arrow:open {
    border: 1px solid #76797C;
}

QPushButton::menu-indicator  {
    subcontrol-origin: padding;
    subcontrol-position: bottom right;
    left: 8px;
}

QTableView
{
    border: 1px solid #76797C;
    color: #dbcdce;
    gridline-color: #333333;
    background-color: #121212;
    alternate-background-color: #222222;
}


QTableView, QHeaderView
{
    border-radius: 0px;
}

QTableView::item:pressed, QListView::item:pressed, QTreeView::item:pressed  {
    background: #2c7ea9;
    color: #dbcdce;
}

QTableView::item:selected:active, QTreeView::item:selected:active, QListView::item:selected:active  {
    background: #2c7ea9;
    color: #dbcdce;
}


QHeaderView
{
    background-color: #333333;
    border: 1px transparent;
    border-radius: 0px;
    margin: 0px;
    padding: 0px;

}

QHeaderView::section  {
    background-color: #333333;
    color: #dbcdce;
    padding: 5px;
    border: 1px solid #76797C;
    border-radius: 0px;
    text-align: center;
}

QHeaderView::section::vertical::first, QHeaderView::section::vertical::only-one
{
    border-top: 1px solid #76797C;
}

QHeaderView::section::vertical
{
    border-top: transparent;
}

QHeaderView::section::horizontal::first, QHeaderView::section::horizontal::only-one
{
    border-left: 1px solid #76797C;
}

QHeaderView::section::horizontal
{
    border-left: transparent;
}


QHeaderView::section:checked
 {
    color: white;
    background-color: #334e5e;
 }

 /* style the sort indicator */
QHeaderView::down-arrow {
    image: url(:/stylesheet/resources/darkstyle/down_arrow.png);
}

QHeaderView::up-arrow {
    image: url(:/stylesheet/resources/darkstyle/up_arrow.png);
}


QTableCornerButton::section {
    background-color: #333333;
    border: 1px transparent #76797C;
    border-radius: 0px;
}

QToolBox  {
    padding: 5px;
    border: 1px transparent black;
}

QToolBox::tab {
    color: #dbcdce;
    background-color: #333333;
    border: 1px solid #76797C;
    border-bottom: 1px transparent #333333;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

QToolBox::tab:selected { /* italicize selected tabs */
    font: italic;
    background-color: #333333;
    border-color: #2c7ea9;
 }

QStatusBar {
    border: 1px solid #393838;
    background: 1px solid #333333;
}

QStatusBar::item {
    border: 0px transparent dark;
 }

QStatusBar QLabel {
 background-color: transparent;
}


QFrame[height="3"], QFrame[width="3"] {
    background-color: #76797C;
}


QSplitter::handle {
    border: 1px dashed #76797C;
}

QSplitter::handle:hover {
    background-color: #787876;
    border: 1px solid #76797C;
}

QSplitter::handle:horizontal {
    width: 1px;
}

QSplitter::handle:vertical {
    height: 1px;
}

QProgressBar {
    border: 1px solid #76797C;
    border-radius: 5px;
    text-align: center;
}

QProgressBar::chunk {
    background-color: #05B8CC;
}

QDateEdit
{
    selection-background-color: #2c7ea9;
    border-style: solid;
    border: 1px solid #3375A3;
    border-radius: 2px;
    padding: 1px;
    min-width: 75px;
}

QDateEdit:on
{
    padding-top: 3px;
    padding-left: 4px;
    selection-background-color: #4a4a4a;
}

QDateEdit QAbstractItemView
{
    background-color: #333333;
    border-radius: 2px;
    border: 1px solid #3375A3;
    selection-background-color: #2c7ea9;
}

QDateEdit::drop-down
{
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;
    border-left-width: 0px;
    border-left-color: darkgray;
    border-left-style: solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

QDateEdit::down-arrow
{
    image: url(:/stylesheet/resources/darkstyle/down_arrow_disabled.png);
}

QDateEdit::down-arrow:on, QDateEdit::down-arrow:hover,
QDateEdit::down-arrow:focus
{
    image: url(:/stylesheet/resources/darkstyle/down_arrow.png);
}

/*************************************************************************************************
* Custom Widget Styles
*************************************************************************************************/

#m_treeHistoryLeft,
#m_treeHistoryRight {
    background-color: #000000;
    alternate-background-color: #222222;
}
